# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*$py.class

# ======================
# Virtual environments
# ======================
.venv/
venv/
env/

# ======================
# Environment variables
# ======================
.env

# ======================
# IDE
# ======================
.vscode/
.idea/

# ======================
# Jupyter
# ======================
.ipynb_checkpoints/

# ======================
# OS files
# ======================
.DS_Store
Thumbs.db

# ======================
# Logs
# ======================
*.log

# ======================
# Base de datos
# ======================
*.db

# ======================
# Dataset grande
# ======================
data/df.csv

# ======================
# Resultados experimentos
# ======================
results/*.csv
results/*.json
results/*.png

# ======================
# Archivos auxiliares LaTeX
# ======================
*.aux
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.lol

# ======================
# PDFs
# ======================
*.pdf
!Latex/main.pdf